<p id = "notice" ><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @my_post.name %>
</p>

<p>
  <b>Title:</b>
  <%= @my_post.title %>
</p>

<p>
  <b>Description:</b>
  <%= @my_post.description %>
</p>

<%= link_to 'Back', root_path %>